<footer class="bg-white dark:bg-gray-900 w-full">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-2" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © 2024 <a href="#" class="hover:underline">DuyBao™</a>. {{ _('All Rights Reserved') }}.
    </span>
  </div>

  <button
    id="back-to-top"
    onclick="topFunction()"
    class="hover:-translate-y-1 hover:scale-110 duration-300 fixed bottom-5 right-5 bg-black hover:bg-gray-600 dark:bg-blue-500 dark:hover:bg-blue-400 text-white rounded-full p-2 hidden"
  >
    <i class="fa fa-arrow-up"></i>
  </button>

  <script src="{{ url_for('static', filename='dist/js/darkmode.js') }}"></script>

  <script src="{{ url_for('static', filename='dist/js/backtotop.js') }}"></script>

  <script src="{{ url_for('static', filename='dist/js/changeIconDarkmode.js') }}"></script>

  <script src="{{ url_for('static', filename='dist/js/previewImage.js') }}"></script>

  <script src="{{ url_for('static', filename='dist/js/loadingButton_alert.js') }}"></script>

  <script src="{{ url_for('static', filename='dist/js/scrollToMapafterSearch.js') }}"></script>

</footer>
